*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
html{
    scroll-behavior: smooth;
}
/* Start Variables */
:root{
    --main-color: #10cab7;
    --blue-dark: #18293c;
    --section-back: #f6f6f6;
    /* --green-yellow: #cddc39; */
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
}
/* Global */
.container{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
}
.padding{
    padding-top: 60px;
    padding-bottom: 60px;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    transition: all 0.3s ease;
}
h1, h2, h3{
    color: var(--blue-dark);
}
p{
    color: #333;
    line-height: 1.5;
}
.spacial-heading{
    color: #dce0e4;
    /* color: var(--blue-dark); */
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.spacial-heading + p{
    margin: -40px 0 0;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #797979;
}
/* Animation Start */
@keyframes zoomInOut {
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}
@keyframes bounceTop {
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
}
/* Animation End */

/* Background bg-circles Start*/
.main .circles-1{
    height: 60px;
    width: 60px;
    background-color:  #0000ff;
    left: 20%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite;
    position: absolute;
    border-radius: 50%;
}
.main .circles-2{
    height: 80px;
    width: 80px;
    background-color: var(--main-color);
    left: 45%;
    top: 50%;
    opacity: 0.4;
    animation: bounceTop 5s ease-in-out infinite;
    position: absolute;
    border-radius: 50%;
}
.main .circles-3{
    height: 120px;
    width: 120px;
    background-color: #fff;
    top: 40%;
    right: 5%;
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
}
.main .circles-4{
    height: 50px;
    width: 50px;
    background-color:  #ffa500;
    top: 70%;
    left: 15%;
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
}
/* Background bg-circles End*/
/* ----------------------- / Header Start / ------------------ */
.main{
    width: 100%;
    padding: 0 30px 0 30px;
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header .logo{
    width: 60px;
    position: relative;
    color: var(--main-color);
    padding-left: 7px;
    font-size: 60px;
}
.header .logo::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 27px;
    background-color: #555;
    left: 0;
    top: 23px;
}
.header .links{
    position: relative;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.header .links:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.header .links .icon{
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: var(--blue-dark);
    margin: 2px 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.header .links .icon span:nth-child(2){
    width: 60%;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links ul{
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    border: 1px solid var(--white-alpha-40);
    display: none;
    z-index: 9999;
}
.header .links ul::before{
    content: "";
    position: absolute;
    border-color: transparent transparent var(--pink-light);
    border-width: 10px;
    border-style: solid;
    right: 5px;
    top: -20px;
}
.header .links ul.active{
    display: block;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid var(--white-alpha-40);
    transition: all 0.3s ease;
}
.header .links ul li:hover:not(:last-child){
    border-bottom: 1px solid var(--main-color);
}
.header .links ul li a{
    display: block;
    padding: 15px;
    color: var(--blue-dark);
}
.header .links ul li a:hover{
    padding-left: 25px;
}

/* ----------------------- / Header End / ------------------ */

/* ----------------------- / landing Start / ------------------ */
.landing{
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: calc(100vh - 120px);
    border-radius: 50px;
    margin: auto;
}
.landing .intro{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.landing .intro .intro-text h3{
    font-weight: 500;
}
.landing .intro .intro-text h1{
    margin: 10px 0 20px 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro .intro-text h2{
    font-weight: 600;
}
.landing .intro .intro-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid var(--white-alpha-40);
}
/* ----------------------- / landing End / ------------------ */

/* ----------------------- / features End / ------------------ */
.features{
    background-color:var(--section-back);
}
.features .feat{
    padding: 20px 10px;
    text-align: center;
    /* background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light)); */
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{
    font-weight: 800;
    margin: 20px 0 25px;
}
/* ----------------------- / features Start / ------------------ */

/* ----------------------- / services Start / ------------------ */

.services .services-content{
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image::before{
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .services-content .image img{
    width: 260px;
}
/* ----------------------- / services End / ------------------ */

/* ----------------------- /  portfolio Start / ------------------ */
.portfolio{
    /* background-color: var(--section-back); */
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
}
/* .portfolio .container{
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    border-radius: 50px;
} */
.portfolio .portfolio-content{
    margin: 100px 0px 50px;
}
.portfolio .portfolio-content .card{
    background-color: #fff;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3,
    .portfolio .portfolio-content .card .info p{
    margin: 0;
}
/* ----------------------- /  portfolio End / ------------------ */

/* ----------------------- /  Start End / ------------------ */
.about{
    margin-bottom: 50px;
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    width: 120px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 250px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}
.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .text{
    flex-basis: calc(100% - 450px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 20px;
}
.about .about-content .text hr{
    width: 50%;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    margin-top: 20px;
}
/* ----------------------- /  About End / ------------------ */

/* ----------------------- /  Contact Start / ------------------ */
.contact{
    /* background-color: var(--section-back); */
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
}
.contact .info{
    text-align: center;
}
.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--blue-dark);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
}
.contact .info .social{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
.contact .info .social .icon-i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact .info .social .icon-i i{
    margin-left: 10px;
    color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .info .social .icon-i i:hover{
    background-color: var(--main-color);
    color: #fff;
}
/* ----------------------- /  Contact End / ------------------ */

/* ----------------------- /  footer Start / ------------------ */
.footer{
    background-color: var(--blue-dark);
    color: #fff;
    padding: 30px 10px;
    text-align: center;
    font-size: 20px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* ----------------------- /  footer End / ------------------ */

/* --------------------/ Medea Guery/ -------------------------*/
@media(max-width: 991px){
    
    .landing .intro{
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .landing .intro .intro-img{
        order: -1;
        margin-bottom: 30px;
    }
    .main .circles-2{
        top: 75%;
    }
    .services .services-content .image{
        display: none;
    }
    .about .about-content{
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
    .about .about-content .image{
        margin: 0 auto 60px;
    }
    .about .about-content .text hr{
        text-align: center;
    }
}
@media(max-width: 767px){
    .landing .intro .intro-text h1{
        font-size: 35px;
    }
    .landing .intro .intro-text h2{
        font-size: 18px;
    }
    .landing .intro .intro-img img{
        width: 250px;
        height: 250px;
    }
    .spacial-heading{
        font-size: 80px;
    }
    .spacial-heading + p{
        margin: -20px 0 0;
        font-size: 20px;
    }
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
@media (max-width:576px){
    .spacial-heading{
        font-size: 60px;
    
    }
    .grid-3{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .portfolio .spacial-heading {
        font-size: 50px;
    }
    .spacial-heading + p {
        font-size: 12px;
    }
    .footer {
        font-size: 18px;
    }
    .header .logo::before {
        top: 22px;
    }
}
